<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="style/styles.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <title>Manga Rosa Hostel</title>
</head>
<body>
    <h1>Manga Rosa Hostel</h1>

    <div class="horizontal-container" hx-trigger="load" id="rooms-container" style="display: flex; align-items: baseline;">
    </div>

    <form id="form-container" hx-post="http://127.0.0.1:8080/reserva"
     hx-target="#showBookingCode" 
     hx-vals="js:{'bookingId' : getBookingCode()}"
     class="form-container" >
        <div class="form-group">
            <label for="name">Nome: </label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="age">Idade: </label>
            <input type="number" id="age" name="age" required>
        </div>

        <input type="hidden" id="roomId" name="roomId" required>
        <input type="hidden" id="bookingcode" value="">

        <div style="display: flex;align-items: baseline;justify-content: space-between;">
            <button type="submit" id="reserve" class="btn">Reservar</button>
            <button type="submit" id="edit" class="btn">Corrigir!</button>
        </div>
        <div>
            <p id="showBookingCode"></p>
        </div>
    </form>
    <div class="specific-div">
        <button type="submit"
        hx-get="http://127.0.0.1:8080/reserva/listar"
        id="reserve"
        hx-target="#reservations-table"
        hx-swap="innerHTML"
        class="btn specific-btn ">Listar reservas</button>
    </div>

    <div id="reservations-table"></div>   

    <form class="specific-div" 
        hx-post="http://127.0.0.1:8080/reserva/delete"
        hx-include="#reserva-id-delete"
        hx-trigger="submit">
        <input type="text" id="reserva-id-delete" name="id" placeholder="Insira o ID da reserva" class="btn-input">

    <button type="submit" class="btn specific-btn">
        Deletar reserva
    </button>
    </form>


    <script>
        function getBookingCode() {
                const bookingCodeElement = document.getElementById('showBookingCode');
                return bookingCodeElement.innerText.trim();
            }
        document.addEventListener('DOMContentLoaded', function() {
            fetch('http://127.0.0.1:8080/')
                .then(response => response.json())
                .then(rooms => {
                    const roomsContainer = document.getElementById('rooms-container');
                    const roomIdInput = document.getElementById('roomId');
                    rooms.forEach(room => {
                        const roomButton = document.createElement('button');
                        roomButton.textContent = room.name;
                        roomButton.classList.add('room-btn');
                        roomButton.onclick = () => {
                            document.querySelectorAll('.room-btn').forEach(btn => {
                                btn.classList.remove('selected');
                            });
                            roomButton.classList.add('selected');
                            roomIdInput.value = room.id;
                        };

                        roomsContainer.appendChild(roomButton);
                    });
                })
                .catch(error => console.error('Erro ao carregar os quartos:', error));
            })

            document.body.addEventListener('htmx:afterOnLoad', function(evt) {
                if (evt.detail.target.id === 'reservations-table') {
                    const data = JSON.parse(evt.detail.xhr.responseText);
                    const table = document.createElement('table');
                    table.innerHTML = `
                        <thead>
                            <tr>
                                <th>Hospede</th>
                                <th>Código Reserva</th>
                                <th>Idade</th>
                                <th>Quarto</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${data.map(booking => `
                                <tr>
                                    <td >${booking.name}</td>
                                    <td>${booking.bookingCode}</td>
                                    <td>${booking.age}</td>
                                    <td>${booking.roomName}</td>
                                </tr>
                            `).join('')}
                        </tbody>
                    `;
                    evt.detail.target.innerHTML = '';
                    evt.detail.target.appendChild(table);
                }
            });

    </script>
</body>
</html>